/* -------------------------------------------------------------------------- */
//..                                  VARIABLES                               */
/* -------------------------------------------------------------------------- */

//* COLOR

$primary-color: #272727;
$secondary-color: #ff652f;
$text-color: #fff;

//* FONT

$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
