* {
  margin: 0;
  padding: 0;
}

.img-float {
  width: 40%;
  float: left;
}

.par1 {
  background-color: rgba(128, 128, 0, 0.801);
  font-size: 2rem;
}

.par2 {
  background-color: rgba(255, 0, 13, 0.392);
  clear: both;
  font-size: 2rem;
}

.container {
  font-size: 2rem;
  /* border: 10px solid red;     */
}

.box {
  float: left;
}
.box1 {
  background-color: aqua;
  width: 20%;
  height: 10vh;
}
.box2 {
  background-color: blueviolet;
  width: 50%;
  height: 20vh;
  background-image: url("https://picsum.photos/id/684/600/400");
  background-size: cover;
}
.box3 {
  background-color: crimson;
  width: 30%;
  height: 30vh;
  background-image: url("https://picsum.photos/id/456/600/400");
  background-size: cover;
}