*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* We using universal selector. Because it effect all codes and pages. */

#container {
  background-color: aquamarine;
}

.div1 {
  background-color: greenyellow;
  width: 150px;
  height: 150px;
  border: 5px solid black;
  /* box-sizing: border-box; */
}
.div2 {
  background-color: red;
  width: 150px;
  height: 150px;
  border: 5px solid black;
  /* box-sizing: border-box; */
  margin: 50px;
}
.div3 {
  background-color: rgba(222, 184, 135, 0.617);
  width: 150px;
  height: 150px;
  border: 5px solid black;
  /* box-sizing: border-box; */
  margin-top: -100px;
}
