.par1 {
    background-color: red;
}

.par2 {
    background-color: rgb(0, 0, 255);
}

.par3 {
    background-color: rgb(0, 255, 0);
}

.par4 {
    background-color: rgba(220, 24, 240, 0.4);
}

.par5 {
    background-color: rgba(96, 59, 59, 0.638);
}

.par6 {
    background-color: #866369B0
}

.par7 {
    background-color: hsl(240, 100%, 70%);
}

