$bgColor: pink;
$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$fontSize: 1.2rem;
$fontColor: white;
$navBgColor: #30a7c3;
$myBorder: 2px solid brown;
$bannerBgColor: hotpink;
$buttonColor: #902b2b;
